.footer {
	position: relative;

	&__info {
		padding: 50px 0 56px 0;
		max-width: 460px;
		width: 100%;
		background: #C70101;
		position: absolute;
		z-index: 2;
		left: 50%;
		transform: translateX(-50%);
	}

	&__address {
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		color: $COLOR_W;

		@media(max-width:$screen-md) {
			font-size: 18px;
		}
	}

	&__phone {
		margin-top: 36px;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		color: $COLOR_W;
		display: block;

		@media(max-width:$screen-md) {
			font-size: 18px;
			margin-top: 15px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		margin-top: 36px;

		@media(max-width:$screen-md) {
			margin-top: 25px;
		}
	}

	&__messenger {
		width: 53px;
		height: 52px;
		border: 2px solid #FFFFFF;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 27px;
		cursor: pointer;
	}

	&__icon {}

	&__map {}
}