.catalog {

	&__title {
		font-weight: 400;

		@media(max-width:$screen-md) {
			font-size: 21px;
		}
	}

	&__tab {
		margin-top: 46px;
	}

	&__product {
		margin-top: 46px;

		@media(max-width:$screen-lg) {
			margin-top: 20px;
		}

		@media(max-width:$screen-md) {
			margin-top: 10px;
		}
	}
}

.tab {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: center;

	@media(max-width:$screen-md) {
		display: none;
	}

	&__item {
		min-width: 200px;
		height: 50px;
		padding: 0 20px;
		border: 2px solid #D0D0D0;
		transform: skewX(-20deg);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		color: #6B6B6B;
		cursor: pointer;
	}

	&__item_active {
		background: $COLOR_R;
		color: $COLOR_W;
	}

	&__item-category {
		transform: skewX(20deg);
		font-weight: 400;
		font-size: 18px;
		text-transform: uppercase;
		pointer-events: none;
		transition: .3s all;

		@media(max-width:$screen-lg) {
			font-size: 17px;
		}

	}
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media(max-width:$screen-md) {
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 19px 0 0 0;
		border: 2px solid #E8E8E8;
		background: $COLOR_W;
		padding: 20px 27px;

		@media(max-width:$screen-lg) {}

		@media(max-width:$screen-md) {
			padding: 10px;
			width: 100%;
		}
	}

	&__inner {
		display: flex;
		max-width: 303px;
		width: 100%;
		position: relative;
	}

	&__content {
		transform: translateX(0);
		visibility: visible;
		transition: transform 0.1s, visibility 0.05s;
	}

	&__content_hidden {
		transform: translateX(-15%);
		visibility: hidden;
	}

	&__img {
		display: block;
		max-width: 140px;
		margin: 0 auto;
	}

	&__name {
		font-weight: 700;
		font-size: 16px;
		text-align: center;
		color: $COLOR_B;
		margin-top: 15px;
	}

	&__descr {
		font-weight: 300;
		font-size: 14px;
		color: $COLOR_B;
		max-width: 250px;
		margin: 15px auto 0;
		text-align: center;
	}

	&__link {
		font-weight: 500;
		display: block;
		font-size: 14px;
		text-align: center;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: $COLOR_R;
		margin-top: 10px;
	}

	&__info {
		transform: translateX(0);
		position: absolute;
		visibility: visible;
		transition: transform 0.1s, visibility 0.05s;
	}

	&__info_hidden {
		visibility: hidden;
		transform: translateX(15%);
	}

	&__info-list {
		list-style: none;
		max-width: 251px;
		padding: 0;
	}

	&__info-item {
		font-weight: 300;
		font-size: 14px;
		color: #555555;
		position: relative;
		padding-left: 11.5px;
		margin-top: 10px;

		&::before {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background: $COLOR_R;
			left: 0;
			top: 8px;
		}
	}

	&__footer {
		border-top: 1px solid #E8E8E8;
		margin-top: 17px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 10px 0;
	}

	&__price {
		margin-right: 15px;
	}

	&__old-price {
		text-decoration-line: line-through;
		font-weight: 300;
		font-size: 14px;
		color: #555555;
	}

	&__discount-price {
		font-weight: 700;
		font-size: 18px;
		color: #050505;

		@media(max-width:$screen-md) {
			font-size: 17px;
		}
	}

	&__btn {
		width: 125px;
		height: 40px;

		@media(max-width:$screen-md) {
			width: 120px;
			height: 40px;
		}
	}
}